Source: nzbget
Section: contrib
Priority: extra
Maintainer: Mike Pham <support@nativecode.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.readynas.com

Package: nzbget
Architecture: armel
Depends: ${misc:Depends}, readynasos (>= 6.0.5~T1271)
Description: NZBGet
